@import '../../style/var.scss';
table th,
table td
{
  height: 42px;
  line-height: 42px;
  border: 1px solid  $border-color;
  text-align: center;
}
table th {
  background: #cad2ff;
  color: $primary;
}
.no-pro{
  height: 200px;
  line-height: 200px;
  text-align: center;
}
td input{
  min-width: 20px;
  max-width: 90px;
  background: transparent;
  text-align: center;
}
